.persona {
  display: flex;
  flex-direction: column;
}

.personas {
  display: flex;
  padding-top: 3rem;
  justify-content: space-around;
}

@media screen and (min-width: 0) {
  .persona {
    margin-bottom: 2rem;
  }
  .personas {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .persona {
    margin-bottom: 2rem;
  }
  .personas {
    flex-direction: row;
    margin-bottom: 3rem;
  }
}
