.receta {
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
}

.receta__imagen {
  height: 250px;
}

@media screen and (min-width: 0) {
  .receta {
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .receta {
    margin-bottom: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
    width: 20%;
  }
}
